<style>
		body {
			background-color: #343434;
             margin:0;
		}

			.button-container {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100vh;
		flex-wrap: wrap;
		padding-top: 30px;
	}

	.button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        margin: 10px;
        width: 150px;
        height: 60px;
        text-align: left;
		color: #fff;
		font-size: 18px;
		font-family: "Malgun Gothic", sans-serif;
		text-align: center;
		background: url('rectangle-box.png') no-repeat center center;
		background-size: contain;
	}

	.button:hover {
		opacity: 0.8;
		cursor: pointer;
	}


	#home {
		background-position: -5px -5px;
		background-color: #343434;
		border-radius: 90px;
	}

	#my-payments {
		background-position: -5px -98px;
		background-color: #343434;
		border-radius: 90px;
	}

	#how-to-use {
		background-position: -5px -193px;
        background-color: #343434;
		border-radius: 90px;
	}

	#about-us {
		background-position: -5px -288px;
		background-color: #343434;
		border-radius: 90px;
	}

	#help {
		background-position: -5px -383px;
		background-color: #343434;
		border-radius: 90px;
	}

	#privacy-policy {
		background-position: -5px -478px;
		background-color: #777373;
		border-radius: 90px;
	}

	#sign-up {
		background-position: -5px -573px;
		background-color: #FFFFFF;
		border-radius: 90px;
		color: #343434;
	}

	#login {
		background-position: -5px -668px;
		background-color: #1F9CEA;
		border-radius: 90px;
	}
    #scroll-box {
        background-color: #777373;
        height: calc(100% - 120px);
        overflow-y: scroll;
        padding: 20px;
    }
        
    .Rectangle-11 {
                    width: 650px;
                    height: 2000px;
                    margin: 39px 0 0;
                    padding: 34px 624px 33px 625px;
                    border: solid 1px #707070;
                    background-color: #777373;
                    border-top-left-radius: 40px;
                    border-top-right-radius: 40px;
                }


	</style>